body, html, .content-container {
    height: 1360px;
    width: 768px;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.bottom-content {
    position: absolute;
    padding: 30px;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    max-height: 390px;
}
.top-content {
    position: absolute;
    padding: 30px;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    max-height: 215px;
}
.time-and-date {
    display: inline-block;
}
.time {
    font-size: 7em;
    font-weight: 700;
    margin: -25px 0 0;
}
.date {
    font-size: 3em;
    margin: -10px 0 0;
    font-weight: 500;
}
.weather {
    display: inline-block;
    float: right;
    text-align: right;
}
.sky {
    filter: invert(1);
    transform: scale(2);
}
.temperature {
    margin: -2px 0 0;
    font-size: 3em;
}