body, html, .content-container {
    height: 1360px;
    width: 768px;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.bottom-content {
    position: absolute;
    padding: 30px;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    max-height: 390px;
}
.top-content {
    position: absolute;
    padding: 30px;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    max-height: 215px;
}