.top-content(ng-controller="topController")
    .time-and-date
        p.time {{clock | date:"HH:mm"}}
        p.date {{clock | date:"dd MMM yy"}}
    .weather
        p.sky {{weather.sky}}
        p.temperature {{weather.temperature}}