.top-content(ng-controller="topController")
    .time-and-date
        p.time {{clock | date:"HH:mm"}}
        p.date {{clock | date:"dd MMMM yy"}}
    .weather
        img.sky(ng-src="assets/img/climacons/{{weather.icon}}.svg")
        p.temperature {{weather.temperature | number:0 }}°C